* {
  background-color: mintcream;
}
body {
  text-align: center;
  font-family: "Roboto", monospace;
}

h1 {
  margin: 0 auto;
  font-family: "Montez", fantasy;
  font-size: 60px;
  margin: 2%;
  margin-bottom: 0px;
}

p {
  font-size: 23px;
  font-style: italic;
}

p:hover {
  text-decoration: underline;
}

h2, h3, h4 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

header {
  font-size: 30px;
  margin-top: 2%;
}

img {
  height: 60%;
  width: 60%;
}

.home, .ttt, .connect {
  padding-right: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color: lightgray;
  cursor: pointer;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#xscore {
  float: left;
  display: inline;
  text-align: center;
  padding-left: 35%;
  margin: 2%;
}

#oscore {
  float: right;
  display: inline;
  padding-right: 35%;
  margin: 2%;
}

#o-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 40px;
  margin: 1%;
  text-align: center;
  width: 150px;
}

#o-button:hover {
  background-color: gray;
  color: white;
  font-style: italic;
  cursor: pointer;
}

#idk {
  border-radius: 25px;
  border: 1px solid black;
  width: 35%;
  display: inline-block;
  padding: 2%;
  background-color: darkgray;
  color: maroon;
  font-size: 18px;
  font-style: normal;
}

#idk:hover {
  text-decoration: none;
}
